@media only screen and (max-width: 550px) {
  #menu-buttons * {
    font-size: 14px;
  }
  #banner-text {
    font-size: 12px;
  }
  #search-bar,
  #logo-img,
  #white-space-fill {
    /* visibility: hidden; */
    display: none;
  }

  #nav {
    justify-content: center;
  }
  #logo-text {
    text-align: center;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*
 font-family: 'Nunito', sans-serif;
 font-family: 'Faustina', serif;
 */

* {
  /* overflow-x: hidden; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(41, 50, 65);
  font-family: 'Nunito', sans-serif;
}

/* Includes N.av and M.enu */
.parent {
  height: 150vh;
  display: flex;
  flex-direction: column;
}

/* B.ody Only. B.anner/F.ooter not included here */
.content {
  padding: 2%;
}

/* /////////////////////////////////////
B.anner - With message */
.banner {
  width: 100%;
  position: sticky;
  top: 0;
  height: 25px;
  z-index: 2;
  text-align: center;

  background: hsla(182, 82%, 93%, 1);

  background: linear-gradient(
    0deg,
    hsla(182, 82%, 93%, 1) 5%,
    hsla(12, 83%, 62%, 0.9) 20%,
    hsla(12, 83%, 62%, 0.9) 80%,
    hsla(182, 82%, 93%, 1) 95%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(182, 82%, 93%, 1) 5%,
    hsla(12, 83%, 62%, 0.9) 20%,
    hsla(12, 83%, 62%, 0.9) 80%,
    hsla(182, 82%, 93%, 1) 95%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(182, 82%, 93%, 1) 5%,
    hsla(12, 83%, 62%, 0.9) 20%,
    hsla(12, 83%, 62%, 0.9) 80%,
    hsla(182, 82%, 93%, 1) 95%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E0FBFC", endColorstr="#EE6C4D", GradientType=1 );
}

.banner-text {
  white-space: nowrap;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px rgb(41, 50, 65);
}

/* End B.anner
////////////////////////////////////////////// */

/* ////////////////////////////////////////////
N.av Bar                   */
/* flex grid - 
.left           golf icon     -100px
.left-center    logo text     -300px
.center         white space   -auto?
.right          connect divs  -200px (+padding)
*/

.nav * {
  border: 1px solid pink;
}

.nav {
  /* border: 2px solid red; */
  width: 100%;
  border-radius: 10px;

  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.logo-container {
  /* border: 1px solid purple; */

  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.logo-text {
  /* border: 1px solid pink; */

  text-align: right;
  white-space: nowrap;
  font-family: 'Faustina', serif;
  color: rgb(41, 50, 65);
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
}

.right-container {
  display: flex;
  flex-direction: row;
}

#directions,
#connect {
  /* border: 1px solid blue; */
  height: 100px;
  width: 90px;
  text-decoration: none;
  outline: none;
  border-radius: 10px;

  text-align: center;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  white-space: nowrap;

  transition: 0.25s ease;
}

#directions:hover,
#connect:hover,
#directions:focus,
#connect:focus {
  /* border: 2px solid red; */
  border-radius: 10px;

  box-shadow: 3px 3px 10px rgb(61, 90, 128);
}
/* End N.av
///////////////////////////////////////////// */

/* ////////////////////////////////////////////
M.ENU BAR - Product d.ropdowns, s.earch          */

.menu {
  /* border: 1px solid pink; */
  /* min-height: 50px; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.search {
  /* border: 2px solid red; */
  /* order: -1; */
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 1%;
}
#search-bar {
  /* font-family: 'Nunito', sans-serif; */
  /* border: 1px solid rgb(41, 50, 65); */
  outline: none;

  padding-left: 10px;
  border-radius: 10px;

  transition: 0.25s ease;
  transition: transform 0.25s ease-in;
}

#search-bar:focus,
#search-bar:hover {
  box-shadow: 3px 3px 10px rgb(61, 90, 128);
  transform: scale(1.05, 1.01);
}

/* can this tag be removed at viewwidth < 500px? */
.white-space-fill {
  /* border: 1px solid pink; */
  flex: 1;
}

.menu-buttons * {
  /* flex: 1 1 135px; */
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0);

  margin-left: 2px;
  margin-right: 2px;

  font-weight: 300;
  font-size: 18px;

  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
}
.menu-buttons {
  /* border: 1px solid blue; */
  margin: 10px 0;
  display: flex;
  flex: 0 1 560px;
  justify-content: space-evenly;
}

.drop-button {
  /* border: 1px solid pink; */
  transition: 0.25s ease;
  width: 125px;
}

#liquor,
#wine,
#cordials {
  border-radius: 0;
  border-left: 2px solid rgb(41, 50, 65, 0.3);
}

.drop-button:hover,
.drop-button:focus {
  text-shadow: 1px 1px 3px rgb(41, 50, 65);
  font-style: italic;
}

.drop-item {
  text-decoration: none;
  transition: 0.25s ease;
}

/* hover over  */
.drop-menu div:hover {
  font-style: italic;
  text-shadow: 1px 1px 3px rgb(41, 50, 65);
}

.drop-menu {
  transition: 0.25s ease-in-out;

  box-shadow: 3px 3px 4px 0px rgb(41, 50, 65);

  /* border-bottom: 1px solid rgb(41, 50, 65); */

  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;

  padding: 15px 5px;
  position: absolute;

  display: flex;
  flex-direction: column;
}
/* END M.ENU BAR 
/////////////////////////////////////////*/

/* //////////////////////////////////////
Body - Images, Sales                   */

.body {
  flex: 1 1 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body div {
  flex: 1 1 300px;
}

/* End Body
//////////////////////////////////////// */

/* //////////////////////////////////////
Footer */

#footer {
  margin: 2%;
  padding-left: 2%;
  font-weight: 600;
  border-radius: 3px;

  background: hsla(214, 35%, 37%, 1);

  background: linear-gradient(
    0deg,
    hsla(214, 35%, 37%, 0.7) 0%,
    hsla(202, 46%, 72%, 1) 7%,
    hsla(182, 82%, 93%, 1) 52%,
    hsla(12, 83%, 62%, 1) 87%,
    hsla(218, 23%, 21%, 0.9) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(214, 35%, 37%, 0.7) 0%,
    hsla(202, 46%, 72%, 1) 7%,
    hsla(182, 82%, 93%, 1) 52%,
    hsla(12, 83%, 62%, 1) 87%,
    hsla(218, 23%, 21%, 0.9) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(214, 35%, 37%, 0.7) 0%,
    hsla(202, 46%, 72%, 1) 7%,
    hsla(182, 82%, 93%, 1) 52%,
    hsla(12, 83%, 62%, 1) 87%,
    hsla(218, 23%, 21%, 0.9) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3d5a80", endColorstr="#98c1d9", GradientType=1 );
}
